@charset "UTF-8";
body {
  background-color: white;
  margin: 0%;
}

.header {
  background: white;
  width: 100%;
}

.header .collapse {
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
}

.header .navbar-dark .navbar-nav .nav-link {
  color: #070606;
  font-size: 0.9rem;
  margin: 0.6rem;
  font-weight: 700;
  font-style: italic;
}

.header .navbar-dark .navbar-nav .nav-link:hover {
  color: red;
}

.slide img {
  height: 90vh;
}

.h, .carousel-caption h2, .carousel-caption h5 {
  font-family: 'Carter One', cursive;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption h2 {
  font-size: 1.8rem;
}

.carousel-caption h5 {
  font-size: 1.5rem;
}

.row {
  background-color: white;
  margin: 1rem;
}

.h1, .col h1, .col h4, .text-center h2, .centro h4, .comunicate h2, .container h1, .cobertura h1, .servicio h1, .carga h4 {
  text-align: center;
  color: #e40f0f;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 800;
  margin: 1.5rem;
  text-shadow: black;
}

.col {
  background-color: white;
  margin: 30px;
  -webkit-box-shadow: 0px 10px 10px black;
          box-shadow: 0px 10px 10px black;
}

.col h1 {
  font-size: 1.5rem;
}

.col h1:hover {
  -webkit-animation: animate__lightSpeedInLeft;
          animation: animate__lightSpeedInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.col h4 {
  font-size: 1rem;
}

.col p {
  color: #070000;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height: 200%;
  font-weight: 800;
}

.col-6 {
  font-family: 'Merriweather Sans', sans-serif;
}

.btn {
  -webkit-box-shadow: inset 8px 10px 10px 1px rgba(250, 172, 172, 0.5);
          box-shadow: inset 8px 10px 10px 1px rgba(250, 172, 172, 0.5);
}

.información {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center h2 {
  font-size: 1.5rem;
}

#galeria .col-lg-4 {
  padding: 1.5rem;
  background-color: #0a0202;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 3px solid red;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
}

.centro h4 {
  font-size: 1.5rem;
}

.comunicate h2 {
  font-size: 2rem;
}

.h4, .container h4, .cobertura h4 {
  color: #080303;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
  margin: 2rem;
}

.container h1 {
  font-size: 2rem;
}

.p, .cobertura p {
  color: #080303;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
  margin: 2rem;
}

.cobertura h1 {
  font-size: 2rem;
}

.servicio h1 {
  font-size: 2rem;
}

.carga h4 {
  font-size: 1.5rem;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contacto {
  width: auto;
  height: auto;
  background-color: black;
  padding: 1%;
  color: white;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contacto .vias {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1.2rem;
}

.contacto .vias h5 {
  margin: 1.5rem;
}

.bi {
  margin: 0% 0.5rem;
  font-size: 1rem;
}

.footer {
  width: auto;
  height: auto;
  background-color: black;
  padding: 1%;
  color: white;
  font-size: small;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */