.header {
  background: white;
}

.header .collapse {
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
}

.header .navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size: 1.1rem;
  margin: 0.6rem;
}

.col h2 {
  text-align: center;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 800;
  margin-top: 1rem;
}

.col h2:hover {
  -webkit-animation: animate__lightSpeedInLeft;
          animation: animate__lightSpeedInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.col p {
  color: black;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  line-height: 250%;
  font-weight: 800;
}

.col .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cajabotones {
  display: block;
  padding: 5%;
}

.cajabotones .servicio {
  text-decoration: none;
  background-color: black;
  width: 50%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  padding: 1rem;
  border: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

.cajabotones .servicio a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bol;
}

.cajabotones .servicio a:hover {
  color: white;
}

.cajabotones .cotizacion {
  text-decoration: none;
  background-color: black;
  width: 50%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  padding: 1rem;
  border: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

.cajabotones .cotizacion a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bol;
}

.cajabotones .cotizacion a:hover {
  color: white;
}

.cajabotones .carga {
  text-decoration: none;
  background-color: black;
  width: 50%;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0%;
  padding: 1rem;
  border: 0.5rem;
  border-radius: 1rem;
  text-align: center;
}

.cajabotones .carga a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bol;
}

.cajabotones .carga a:hover {
  color: white;
}

section {
  background-color: white;
  padding: 0.3rem;
}

section h3 {
  color: red;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-top: auto;
}

section h3:hover {
  -webkit-animation: animateanimate__flip;
          animation: animateanimate__flip;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

section .vias {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 1.2rem;
}

.bi {
  margin: 0% 0.5rem;
  font-size: 1rem;
}

footer {
  width: auto;
  height: auto;
  background-color: black;
  padding: 1%;
  color: white;
  font-size: medium;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */