*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    background-color: black;    
}
.collapse{
    flex-grow: initial;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
    margin: 0.6rem;
}
.row{
    margin: 0%;
    justify-content: space-between;
}
table{
    margin: 0%;
}
.container-fluid h1{
    text-align: center;
    color: rgb(95, 108, 165);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-top: 2rem;
}

.mision{
    background-color: white;
}

.container-fluid h1{
    text-align: center;
    color: rgb(95, 108, 165);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-top: 2rem;
}
.container-fluid h1:hover{
    animation: animate__backInDown;
    animation-duration: 2s;

}
.container-fluid h3{
    text-align: center;
    color:rgb(95, 108, 165);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 1.5rem 0;
}
.container-fluid h3:hover{
    animation: animate__backInUp;
    animation-duration: 2s;
}
.img-thumbnail{
    margin: 0%;
    padding: auto;
}
.container{
    margin: 0%;
    align-items: center;
    justify-content: center;
   
}
.pie{
    width: auto;
    height: auto;
    margin-top: 5em;
    background-color: black;
    padding: 1%;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}