*{
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    
}

/* contenedor logo y menú */
.contenedor{
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    align-items: center;


}

.menú nav ul li{
    list-style: none;
    display: inline-block;
    justify-content: end;
    padding-right: 10px;

}

.menú nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 5px;
    margin-bottom: 5px;
    
}

.menú nav ul li a:hover{
    color: red;

}
.menú{
    font-family: sans-serif;
    font-weight: 700;
}

.principal{
    display: flex
}

.boxmodel{
    height: 550px;
    width: auto;
    background-color: white;
    background-image: url("../img/imagen_central_0.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.boxmodel h1{
    color: whitesmoke;
    font-size: 50px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    padding-top: 240px;
    margin-bottom: 50px;
}

.boxmodel h3{
    color: whitesmoke;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    text-align-last: center;
}


.empresa{
    background-color: white;
    width: 50%;
    height: 500px;
    margin: 3% 10px;
    border: 3px solid white;
    display: inline-block;

}

.empresa h2{
    color: red;
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px 10px;
}

.empresa p{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 20px 5 px;
    line-height: 200%;
    
}

.botones{
    display: block;
    margin: 20px auto;
}
.servicio{
    margin: 20% auto;


}

.servicio a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: auto auto;
    border: 5px;
    border-radius: 10px;
    padding: 30px 30px;
    display: block;
    text-align: center;
    font-weight: bold;
}
.servicio a:hover{
    color: red;
}

.cotizacion{
    margin: 20% auto;
}
.cotizacion a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: auto auto;
    border: 5px;
    border-radius: 10px;
    padding: 30px 30px;
    display: block;
    text-align: center;
    font-weight: bold;

}

.cotizacion a:hover{
    color: red;
}

.carga a{
    text-decoration: none;
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin: 20px auto;
    border: 5px;
    border-radius: 10px;
    padding: 30px 30px;
    display: block;
    text-align: center;
    font-weight: bold;
}

.carga a:hover{
    color: red;
}

.section{
    width: 100%;
    height: 120px;
    background-color: white;
    margin: 10px 10px;
    border-top: 5px double black;
    border-bottom: 5px double black;

}

.contacto h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align:  center;
    font-weight: bold;
    margin-top: 15px;

}

.vias{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
   
}

.logowapp{
    display: flex;
    align-items: center;
    height: 50px;
}

.logomail{
    display: flex;
    align-items: center;
    height: 50px;
}
img{
    margin: 40px;

}

.pie{
    width: auto;
    height: auto;
    background-color: black;
    padding: 1%;
    color: white;
    font-size: medium;
    font-family: sans-serif;
    text-align: center

}

    
   .imagenCentral{
    height: 600px;
    width: auto;
    background-color: white;
    background-image: url("../img/centralcobrtura_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

   }    

   .imagenCentral h1{
    color: black;
    font-size: 40px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    margin: auto auto;
    padding-top: 30px;

}

.imagenservicio{
    height: 450px;
    width: auto;
    background-color: white;
    background-image: url("../img/trigo_02.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.imagenservicio h1{
    color: white;
    font-size: 55px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    text-align: center;
    padding-top: 15%;
    
}
.servicioscontenedor{
    background-color: black;
    padding: 10px;
    display: flex;
    gap: 10px;

}

.servicio1{
    background-color: white;
    height: 200px;
    padding: 12px;
    

}
.servicio1 h4{

    color: orangered;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    line-height: 200%;
}
.servicio1 p{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 200%;
}
.servicio2{
    background-color: white;
    height: 200px;
    padding: 12px;
}

.servicio2 h4{

    color: orangered;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    line-height: 200%;
}
.servicio2 p{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: justify;
    line-height: 200%;
}

.estadocarga{
    background-color: black;
    display: flex;
    padding: 10px;

}

.carga{
    background-color: white;
    width: 100%;
    padding: 15px;
    gap: 20px;
}

.carga h2{
    color: orangered;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 300%;
}
.formulariocarga{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;

}
.principalcobertura{
    width: 100%;
    background-color: black;

}
.coberturatitulo{
    background-color: black;
    width: 100%;
    height: 100px;
}

.coberturatitulo h1{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;



}
.coberturacarga1{
    background-color: white;
    width: 100%;
    height: 350px;

}


.coberturacarga1 h3{
    color: red;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.coberturacarga1 h4{
    color:black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.mapas{
    display: flex;
    width: 100%;
    margin: 30px 10px;
}

.mapas li{
    list-style: none;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

}



.coberturacarga2{
    background-color: white;
    width: 100%;
    height: 300px;

}


.coberturacarga2 h3{
    color: red;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.coberturacarga2 p{
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
    
.mapaargentina{
    display: flex;
    padding: 30px 40%;
}

.cotizacionprincipal{
    background-color: white;
    width: 100%;
    height: auto;

}

.cotizacionprincipal h2{
    width: 100%;
    color: red;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;

}

.transportedegranos{
    width: 100%;
    height: 500px;

}

.transportedegranos h3{
    width: 100%;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    padding-bottom: 35px;

}
.cargasespeciales{
    width: 100%;
    height: auto;
}
.cargasespeciales h3{
    width: 100%;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}


.contactoprincipal{
    width: 100%;
    height: 800px;
    display: block;
    padding-top: 30px;
    
}

.contactoformulario{

    width: 30%;
    height: 600px;
    margin: auto;
   


}
h2{
    color: red;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding-bottom: 40px;

}
form{
    background-color: white;
    padding: 40px 0 ;
    box-shadow: 0 0 8px 0 red;
    border-radius: 10px;
     

}

form .grupo{
    position: relative;
    margin: 10px;
    color: white;
}

input{
    background-color: none;
    font-size: 18px;
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
}