*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    background-color: black;    
}
.collapse{
    flex-grow: initial;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
    margin: 0.6rem;
}
.col h2{
    color: rgb(95, 108, 165);
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-top: 1rem;
    text-align: center;
}
.col h2:hover{
    animation: animate__lightSpeedInLeft;
    animation-duration: 2s;

}
.col p{
    color: rgb(2, 5, 32);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 250%;
    font-weight: 800;

}
.col .btn{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.home01:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}
.cajaempresa{
    margin: 0%;
    background-color: white;
    grid-area: cajatercera;
    margin: 0%;
}
.cajabotones{
    margin: 0%;
    background-color: white;
    grid-area: cajacuarta;
}

.principal{
    background-color: white;
}

.container-fluid h1{
    text-align: center;
    color: black;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-top: 2rem;
}
.container-fluid h1:hover{
    animation: animate__backInDown;
    animation-duration: 2s;

}
.container-fluid h3{
    text-align: center;
    color:rgb(95, 108, 165);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 1.5rem 0;
}
.container-fluid h3:hover{
    animation: animate__backInUp;
    animation-duration: 2s;
}
.img-thumbnail{
    margin: 0%;
    padding: auto;
}

.cajabotones{
    display:block;
    padding: 5%;
}
.cajabotones .servicio{
    text-decoration: none;
    background-color: black;
    width: 50%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    padding: 1rem;
    border: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}


.cajabotones .servicio a{
    text-decoration: none;
    color: rgb(79, 79, 167);
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.servicio a:hover{
    color: lightblue;
}

.cajabotones .cotizacion{
    text-decoration: none;
    background-color: black;
    width: 50%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    padding: 1rem;
    border: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}


.cajabotones .cotizacion a{
    text-decoration: none;
    color: rgb(79, 79, 167);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.cajabotones .cotizacion a:hover{
    color: lightblue;
}

.cajabotones .carga{
    text-decoration: none;
    background-color: black;
    width: 50%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    padding: 1rem;
    border: 0.5rem;
    border-radius: 1rem;
    text-align: center;
}

.cajabotones .carga a{
    text-decoration: none;
    color: rgb(79, 79, 167);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.carga a:hover{
    color: lightblue;
}

.section{
    padding: 0.3rem;
    background-color: rgb(214, 214, 243);
}
.contacto h3{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: auto;

}
.contacto h3:hover{
    animation: animateanimate__flip;
    animation-duration: 2s;

}
.section .vias{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.2rem;
}

.bi{
    margin: 0% 0.5rem;
    font-size: 1rem;
}    

.pie{
    width: auto;
    height: auto;
    background-color: black;
    padding: 1%;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}






