*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    background-color: black;    
}
.collapse{
    flex-grow: initial;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
    margin: 0.6rem;
}

.container-fluid h1{
    text-align: center;
    color: rgb(95, 108, 165);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-top: 2rem;
}
.mision{
    display: block;
}
.container-fluid h1:hover{
    animation: animate__backInDown;
    animation-duration: 2s;

}
.container-fluid h3{
    text-align: center;
    color:rgb(95, 108, 165);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 1.5rem 0;
}
.container-fluid h3:hover{
    animation: animate__backInUp;
    animation-duration: 2s;
}
.img-thumbnail{
    margin: 0%;
    padding: auto;
}
.mision{
    flex-direction: column;
}
.estadocarga{
   background-color: white;
    grid-area: section;
    width: 100%;
    height: fit-content;
    display: grid;
}

.footer{
    background-color: black;
    grid-area: footer;
    height: fit-content;
    width: 100%;
}
.home01:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}
.principalservicios{
    display: flex;
}
.cajacargagranos{
    margin: 0%;
    background-color: white;
    grid-area: cajatercera;
    margin: 0%;
}
.cajaespeciales{
    margin: 0%;
    background-color: white;
    grid-area: cajacuarta;
}
.cajacargagranos h4{
    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;
}
.cajacargagranos h4:hover{
    animation: animate__flip;
    animation-duration: 2s;
}
.cajacargagranos p{
    color: black;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 1.3em;
    text-align: justify;
    line-height: 250%;
    font-weight: 800;

}
.cajaespeciales h4{
    color: black;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding: 1.5em;
    padding-bottom: 0.5em;
    text-align: center;

}
.cajaespeciales h4:hover{
    animation: animate__flip;
    animation-duration: 2s;
}
.cajaespeciales p{
    color: black;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    padding: 1.3em;
    text-align: justify;
    line-height: 250%;
    font-weight: 800;

}
.estadocarga{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
.carga h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-align:  center;
    font-weight: bold;
    margin-top: auto;
    padding-top: 0.5em;

}
.carga h2:hover{
    animation: animate__lightSpeedInLeft;
    animation-duration: 2s;
}
.estadocarga{
    width: 100%;
    background-color: white;
    display: block;
    justify-content: center;
    align-content: center;

}

.carga{
    padding: 2rem;
}
.carga h2{
    color: rgb(95, 108, 165);;
}

.pie{
    width: auto;
    height: auto;
    margin-top: 5em;
    background-color: black;
    padding: 1%;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center

}
