*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    background-color: black;    
}
.collapse{
    flex-grow: initial;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
    margin: 0.6rem;
}
.contactoprincipal{
    margin: 5rem;
}
.section{
    padding: 0.3rem;
    background-color: rgb(214, 214, 243);
}
.contacto h3{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: auto;

}
.comunicate h2{
    color: rgb(95, 108, 165);
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-top: 1rem;
    text-align: center;
}
.comunicate h2:hover{
    animation: animate__backInDown;
    animation-duration: 2s;
}
.col h2:hover{
    animation: animate__lightSpeedInLeft;
    animation-duration: 2s;

}
.contacto h3:hover{
    animation: animateanimate__flip;
    animation-duration: 2s;

}
.section .vias{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1.2rem;
}

.bi{
    margin: 0% 0.5rem;
    font-size: 1rem;
}    

.pie{
    width: auto;
    height: auto;
    background-color: black;
    padding: 1%;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}



