@import "./abstracts/variables";
.header{
    background: white;
    .collapse{
        flex-grow: initial;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: $colorPrincipal;
        font-size: 1.1rem;
        margin: 0.6rem;
    }
}
// .container-fluid{
//     text-align: center;
//     color: red;
//     font-family: 'Roboto', sans-serif;
// }
// .container-fluid .animate__animated .animate__backInDown {
//     @extend .container-fluid;
//     font-size: 2rem;
//     font-weight: 900;
//     padding-top: 2rem;
//     &:hover{
//         animation: animate__backInDown;
//         animation-duration: 2s;
//     }
// }
// .container-fluid .animate__animated .animate__backInUp{
//     @extend .container-fluid;
//     font-size: 1rem;
//     font-weight: 800;
//     padding: 1.5rem;  
//     &:hover{
//         animation: animate__backInUp;
//         animation-duration: 2s;
//     }  
// }
.col{
    & h2{
        text-align: center;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: 800;
        margin-top: 1rem;
        &:hover{
            animation: animate__lightSpeedInLeft;
            animation-duration: 2s;
        }
    }
    & p{
        color: $colorPrincipal;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        text-align: justify;
        line-height: 250%;
        font-weight: 800;
    }
    & .btn{
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
}
@mixin btn {
    text-decoration: none;
    background-color: $colorPrincipal;
    width: 50%;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0%;
    padding: 1rem;
    border: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    & a{
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-family: 'Roboto', sans-serif;
        font-weight: bol;
        &:hover{
            color: white; 
        }  
    }
}
.cajabotones{
    display:block;
    padding: 5%;
    & .servicio{
        @include btn;
    }
    & .cotizacion{
        @include btn;
    }
    .carga{
        @include btn;
    }
}
$colores: (
    uno: white,
    dos: red,
);
section{
    background-color: white;
    padding: 0.3rem;
    h3{
        color: map-get($map: $colores, $key: dos);
        justify-content: center;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        font-weight: bold;
        margin-top: auto;
        &:hover{
            animation: animateanimate__flip;
            animation-duration: 2s;
        }
    }
    & .vias{
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0rem 1.2rem;
    } 
}
.bi{
    margin: 0% 0.5rem;
    font-size: 1rem;
}  
footer{
    width: auto;
    height: auto;
    background-color: $colorPrincipal;
    padding: 1%;
    color: white;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}